@media (max-width: 1156px){
    .services__items{
        display: block;
    }
    .services__item{
        min-width: 80%;
        min-height: 330px;
        margin: 30px auto;
    }
    .news{
        padding-bottom: 60px;
    }
    .form__inner{
        background-image: none;
    }
    .news__inner{
        display: block;
    }
    .news__slider{
        max-width: 100%;
        margin-bottom: 90px;
    }
    .news__blog{
        max-width: 100%;
        display: block;
        margin-bottom: 30px;
    }
    .news__blog::after{
       content: "";
        clear: both;
        display: block;
    }
    .news__images{
        float: left;
        margin-right: 50px;
    }
    .footer__inner{
        display: block;
    }
    .footer__map{
        max-width: 100%;
    }
    .footer__info {
        max-width: 360px;
        margin-bottom: 30px;
    }
}
@media (max-width: 900px){
    .slider .click__btn{
        display: none !important;
    }
    .services__top{
        display: block;
    }
    .services__title-box{
        padding-left: 0;
        text-align: center;
        margin: 0 auto 30px;
    }
    .services__title-box::before{
        display: none;
    }
    .services__btn{
        text-align: center;
    }
    .form{
        padding-bottom: 25px;
    }
    .form__title-box{
        padding-left: 0;
        text-align: center;
        margin: 0 auto 30px;
    }
    .form__title-box::before{
        display: none;
    }
    .form__box-inner{
        display: block;
    }
    .form__box-right{
        max-width: 100%;
    }
    .form__box-left{
        max-width: 100%;
    }
    .form__box-inner .jq-selectbox.jqselect{
        margin-bottom: 10px;
    }
    .advantages__inner{
        display: block;
    }
    .advantages__item{
        max-width: 100%;
        margin-bottom: 30px;
    }
    .news__top{
        display: block;
    }
    .news__title-box{
        padding-left: 0;
        text-align: center;
        margin: 0 auto 30px;
    }
    .news__title-box::before{
        display: none;
    }
    .news__btn{
        text-align: center;
    }
}
@media (max-width: 700px){
    .header__btn{
        float: none;
        display: inline-block;
        margin-left: 30px;
    }
    .header__contacts{
        text-align: center;
    }
    .header__btn-menu{
        display: block;
        font-size: 28px;
        cursor: pointer;
    }
    .menu ul{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 20px;
        z-index: 50;
    }
    .menu li{
        display: block;
        text-align: center;
    }
    .menu li + li{
        padding-left: 0;
    }
    .menu li a{
        display: block;
        background-color: #ffc222;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
}
@media (max-width: 600px){
    .services__item{
        min-width: 100%;
        min-height: 375px;
    }
    .news__slider{
        padding: 50px 15px 25px 25px;
    }
    .news__slider::before{
        left: 25px;
    }
    .news__slider-inner .click__btn {
        bottom: -110px;
    }
    .news__slider-inner .click-next {
        right: -17px;
    }
    .news__slider-inner .click-prev {
        right: 40px;
    }
    .news__images{
        float: none;
    }
}
@media (max-width: 414px){
    .slider__title{
        font-size: 24px;
    }
    .slider__text{
        font-size: 16px;
    }

}
@media (max-width: 400px){
    .header__btn{
        margin-left: 0;
    }
    .advantages__item{
        padding: 0;
    }
}
@media (max-width: 375px){
    .header__phone{
        margin-left: 15px;
    }
    .header__btn{
        padding-left: 20px;
    }
    .header__btn::before{
        display: none;
    }
    .footer__info .header__btn{
        padding-left: 50px;
    }
    .footer__info .header__btn::before{
        display: block;
    }
}
@media(min-width: 700px){
    .menu ul{
        display: block !important;
    }
}
